{
    "plugins": ["prettier-plugin-astro"],
    "trailingComma": "es5",
    "semi": true,
    "useTabs": false,
    "tabWidth": 4,
    "proseWrap": "preserve",
    "bracketSpacing": true,
    "arrowParens": "always",
    "bracketSameLine": false,
    "jsxSingleQuote": true,
    "singleQuote": true,
    "quoteProps": "consistent",
    "printWidth": 120
}
